* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  

html {
    /* background: url('../pictures/b5.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(238, 32, 156);
    scroll-behavior: smooth;
}
